<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>ANALYSIS</title>
		<script src="/timecourse_app_static/cdn/js/ionic.bundle.min.js"></script>
		<script src="/timecourse_app_static/cdn/js/plotly-2.8.3.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/timecourse_app_static/cdn/css/jquery.dataTables.css">
		<!-- jQuery -->
		<script type="text/javascript" charset="utf8" src="/timecourse_app_static/cdn/js/jquery-1.10.2.min.js"></script>
		<!-- DataTables -->
		<script type="text/javascript" charset="utf8" src="/timecourse_app_static/cdn/js/jquery.dataTables.js"></script>
		<script type="text/javascript" charset="utf8" src="/timecourse_app_static/cdn/js/dataTables.buttons.min.js"></script>
		<script type="text/javascript" charset="utf8" src="/timecourse_app_static/cdn/js/buttons.html5.min.js"></script>
		
		
		
		
		{% include 'public_templates/bootstrap.html' %}
		<style type="text/css">

            #app .el-card__header {
                background-color: rgba(0,0,0,.03);
            }

            #app .el-timeline {
                padding-right: 40px;
            }

            .el-upload, .el-upload-dragger {
                width: 100% !important;
            }


        </style>
        <link rel="stylesheet" href="/timecourse_app_static/cdn/css/index.css">
        <script src="/timecourse_app_static/cdn/js/vue.min.js"></script>
        <script src="/timecourse_app_static/cdn/js/index.js"></script>
        <script src="/timecourse_app_static/cdn/js/axios.min.js"></script>

    </head>
	<body>
		<!-- 导航栏 -->
		{% include 'public_templates/nav_tem.html' %}


		<!-- 主体 -->
		<div id="app" class="container  border rounded-5"  style="min-height: calc(100vh - 180px); margin: 1em auto; border-radius: .5rem; box-shadow: 1px 1px 5px grey;">
			<br>
			<p style="font-size: 20px;"> The online service facilitates the prediction of expression trends for individual gene.
			This service currently exclusively accommodates input consisting of expression profile data and temporal sequence
			information.</p>
            <p style="font-size: 20px;"> Note:</p>
            <li style="font-size: 18px;"> The data failing to meet the input criteria cannot be analyzed or displayed.</li>
            <li style="font-size: 18px;"> An adjusted R^2 value less than 0.7 after fitting indicates analysis failure.</li>
            <template>
                <el-tabs v-model="activeTab" >
                    <el-tab-pane label="Analysis" name="submitTab">
                        <el-timeline>
                            <el-timeline-item hide-timestamp="true" >
                                <div slot="dot" style="position: relative; left: -25%; background-color: white; box-sizing: border-box; width: 20px; height: 20px; border: 4px solid #E4E7ED; border-radius: 50%;">
                                </div>
                                <el-card shadow="never">
                                    <div slot="header" style="display: flex; justify-content: space-between; ">
                                        <span>Input data1</span>
                                        <el-switch
                                                v-model="timeSeriesTextOpen"
                                                inactive-text="upload"
                                                active-text="Text">
                                        </el-switch>
                                    </div>
                                    <div>
                                        <template v-if="timeSeriesTextOpen"
                                                      :style="{flexDirection: 'column'}">
                                            <p class="card-title">
                                                <span>Input time series gene expression data</span>
                                            </p>
                                            <div>
                                                {% csrf_token %}
                                                <el-input
                                                        placeholder="Please use tab split"
                                                        clearable="true"
                                                        type="textarea"
                                                        v-model="timeSeriesText"
                                                        :autosize="{ minRows: 8, maxRows: 40}"
                                                >
                                                </el-input>
                                                <el-row :style="{display: 'flex', justifyContent: 'flex-end' , marginTop: '10px'}">
                                                    <el-button size="small" @click="clickExample1">Example data</el-button>
                                                </el-row>
                                            </div>
                                        </template>
                                        <template v-if="!timeSeriesTextOpen" :style="{flexDirection: 'column', justifyContent: 'center'}">
                                            <el-upload
                                                    class="upload-demo"
                                                    drag
                                                    :auto-upload="false"
                                                    :on-change="beforeUpload1"
                                                    multiple>
                                                <i class="el-icon-upload"></i>
                                                <div class="el-upload__text">Drag file to this area or <em>Click</em> to upload file</div>
                                                <!-- <div class="el-upload__tip" slot="tip">只能上传csv/tsv/txt文件，且不超过5mb</div> -->
                                            </el-upload>
                                        </template>
                                    </div>
                                </el-card>
                            </el-timeline-item>
                            <el-timeline-item hide-timestamp="true">
                                <div slot="dot" style="position: relative; left: -25%; background-color: white; box-sizing: border-box; width: 20px; height: 20px; border: 4px solid #E4E7ED; border-radius: 50%;">
                                </div>
                                <el-card shadow="never">
                                    <div slot="header" style="display: flex; justify-content: space-between; ">
                                        <span>Input data2</span>
                                        <el-switch
                                                v-model="timeInfoTextOpen"
                                                inactive-text="upload"
                                                active-text="Text">
                                        </el-switch>
                                    </div>
                                    <div>
                                        <template v-if="timeInfoTextOpen"
                                                  :style="{flexDirection: 'column'}">
                                            <p class="card-title">
                                                <span>Input time information data</span>
                                            </p>
                                            <div>
                                                <el-input
                                                        placeholder="Please use tab split"
                                                        clearable="true"
                                                        type="textarea"
                                                        v-model="timeInfoText"
                                                        :autosize="{ minRows: 8, maxRows: 40}"
                                                >
                                                </el-input>
                                                <el-row :style="{display: 'flex', justifyContent: 'flex-end' , marginTop: '10px'}">
                                                    <el-button size="small" @click="clickExample2">Example data</el-button>
                                                </el-row>
                                            </div>
                                        </template>
                                        <template v-if="!timeInfoTextOpen" :style="{flexDirection: 'column', justifyContent: 'center'}">
                                            <el-upload
                                                    class="upload-demo"
                                                    drag
                                                    :auto-upload="false"
                                                    :on-change="beforeUpload2"
                                                    multiple>
                                                <i class="el-icon-upload"></i>
                                                <div class="el-upload__text">Drag file to this area or <em>Click</em> to upload file</div>
                                                <!-- <div class="el-upload__tip" slot="tip">只能上传csv/tsv/txt文件，且不超过5mb</div> -->
                                            </el-upload>
                                        </template>
                                    </div>
                                </el-card>
                            </el-timeline-item>
                            <el-timeline-item hide-timestamp="true">
                                <div slot="dot" style="position: relative; left: -25%; background-color: white; box-sizing: border-box; width: 20px; height: 20px; border: 4px solid #E4E7ED; border-radius: 50%;">
                                </div>
                                <el-card shadow="never">
                                    <div slot="header" style="display: flex; justify-content: space-between; ">
                                        <span>Submission</span>
                                    </div>
                                    <div>
                                        <el-button type="success" :loading="submitLoading" :disabled="submitLoading" @click="submitForm('')">Submit</el-button>
                                        <el-button type="primary" @click="resetForm">Reset</el-button>
                                        <el-button type="primary" @click="submitForm('example')">ExampleResult</el-button>
                                    </div>
                                </el-card>
                            </el-timeline-item>
                        </el-timeline>
                    </el-tab-pane>
                    <el-tab-pane label="Result" :disabled="resultTabDisabled" name="resultTab">
{#                        <div>#}
{#                            Analysis Id: <span v-text="resultTabData.analysis_id"></span>#}
{#                        </div>#}
                        <div style="display: flex; justify-content: space-between; width: 100%; margin-bottom: 10px; padding-right: 10px;">
                            <div>
                               <span style="font-weight: 700; padding-right: 10px;">Analysis Id:</span> <el-tag type="success"><span v-text="resultTabData.analysis_id"></span></el-tag>
                            </div>
                            <el-link :href="downloadLink" class="btn btn-primary" target="_blank" style="text-decoration: none; color: white;background: rgb(23, 162, 184); padding: 8px 20px;">Download</el-link>
                        </div>
                        <el-tabs tab-position="left"  stretch="true" style="">
                            <el-tab-pane v-if="!contantDFShow" label="Model Fit Indicators Table">
								<br>
								<p>Note: Evaluations including CV, R^2, adjusted R^2, minimum Root Mean Square Error (RMSE) and minimum Akaike
								Information Criterion (AlC) values of all 8 types of models.</p>
                                <el-table
                                        header-cell-style="background-color: rgb(23, 162, 184); color: #fff;"
                                        style="width: 100%"
                                        :data="resultTabData.EvaIndicator_df"
										:default-sort="{prop: 'adjrsq', order: 'descending'}">
                                    <el-table-column
                                            prop="model"
                                            label="Model"
                                            >
                                    </el-table-column>
                                    <el-table-column
                                            prop="rmse"
                                            label="RMSE"
                                            >
                                    </el-table-column>
                                    <el-table-column
                                            prop="rsq"
                                            label="R^2"
                                            >
                                    </el-table-column>
									<el-table-column
									        prop="adjrsq"
									        label="adj.R^2"
									        >
									</el-table-column>
                                    <el-table-column
                                            prop="aicc"
                                            label="AIC"
                                            >
                                    </el-table-column>
                                </el-table>
								<br>
								<p>Note: Equations and parameters will be output only for fitted models meeting the criteria.</p>
								<el-table
								        header-cell-style="background-color: rgb(23, 162, 184); color: #fff;"
								        style="width: 100%"
								        :data="resultTabData.ModelDF_df">
								    <el-table-column
								            prop="model"
								            label="Model"
								            width="200"
								    >
								    </el-table-column>
                                    <el-table-column
								            prop="exp"
								            label="ModelFormula"
								    >
								    </el-table-column>
								    <el-table-column
								            prop="parameters"
								            label="Parameters"
								    >
								    </el-table-column>
								</el-table>
                            </el-tab-pane>
                            <!-- <el-tab-pane v-if="!contantDFShow" label="Optimal Model Table">
                                <p>Note:The optimal model is determined based on the criteria of R^2 > 0.7, minimum
                                    Root Mean Square Error (RMSE) and minimum Akaike Information Criterion (AIC) values from the above table.</p>
                                <el-table
                                        header-cell-style="background-color: rgb(23, 162, 184); color: #fff;"
                                        style="width: 100%"
                                        :data="resultTabData.ModelDF_df">
                                    <el-table-column
                                            prop="model"
                                            label="Model"
                                            width="100"
                                    >
                                    </el-table-column>
                                    <el-table-column
                                            prop="parameters"
                                            label="Parameters"
                                    >
                                    </el-table-column>
                                    <el-table-column
                                            prop="exp"
                                            label="ModelFormula"
                                    >
                                    </el-table-column>

                                </el-table>
                            </el-tab-pane> -->
                            <el-tab-pane v-if="contantDFShow" label="ConstantDF Table">
                                <el-table
                                        header-cell-style="background-color: rgb(23, 162, 184); color: #fff;"
                                        style="width: 100%"
                                        :data="resultTabData.ConstantDF_result">
                                    <el-table-column
                                            prop="model"
                                            label="Model"
                                    >
                                    </el-table-column>
                                    <el-table-column
                                            prop="rmse"
                                            label="Rmse"
                                    >
                                    </el-table-column>
                                    <el-table-column
                                            prop="rsq"
                                            label="Rsq"
                                    >
                                    </el-table-column>
									<el-table-column
									        prop="adjrsq"
									        label="adj.R^2"
									        >
									</el-table-column>
                                    <el-table-column
                                            prop="aic"
                                            label="Aic"
                                    >
                                    </el-table-column>
                                </el-table>
                            </el-tab-pane>
                            <el-tab-pane label="Time Series Trend Chart">
                                <div>
									<div style="margin-bottom: 10px;">
										<span>model: </span>
										<el-select v-model="resultTabData.selectedCluster" @change="changeCluster" placeholder="Please select">
											<el-option
													v-for="(item,index) in resultTabData.model_list"
													:key="index"
													:label="item"
													:value="item">
											</el-option>
										</el-select>
									</div>
									<div style="width: 100%;" id="line-chart"></div>
                                </div>
                            </el-tab-pane>
                        </el-tabs>

                    </el-tab-pane>

                </el-tabs>
            </template>

        </div>

        <script>
            new Vue({
                el: "#app",
                data: {
                    activeTab: "submitTab",
                    retrieveId: "",
                    exampleData: {
                        example1: "geneSymbol	1.912267666	1.4433000701	0.869821347	0.564356829	0.524113953",
                        example2: "1	2	3	4	5",
                    },
                    timeSeriesTextOpen: true,
                    timeSeriesText: "",
                    timeSeriesFile: null,
                    timeInfoTextOpen: true,
                    timeInfoText: "",
                    timeInfoFile: null,
                    submitLoading: false,
                    resultTabData: {
                        analysisType: 'singleGene',
                        heatmap_data: [],
                        model_list:[],
                        trend_data: [],
                        ConstantDF_result: [],
                        EvaIndicator_df: [],
                        ModelDF_df: []
                    }
                },
                computed: {
                  contantDFShow: function () {
                      return this.resultTabData.ConstantDF_result.length > 0
                      console.log('ConstantDF_result:' + JSON.stringify(ConstantDF_result))
                  },
                  downloadLink: function () {
                      return '/GeTeSEPdb/download_result?analysisId=' + this.resultTabData.analysis_id
                  },
                    resultTabDisabled: function () {
                      return  this.resultTabData.analysis_id === undefined || this.resultTabData.analysis_id === ''
                    }
                },
                methods: {
                    hanldeTab(tab, event) {

                    },
                    resetForm() {
                        this.timeSeriesText = '';
                        this.timeInfoText = '';
                        this.timeInfoTextOpen = true;
                        this.timeSeriesTextOpen = true;
                    },
                    clickExample1() {
                        this.timeSeriesText = this.exampleData.example1
                    },
                    clickExample2() {
                        this.timeInfoText = this.exampleData.example2
                    },
                    beforeUpload1(file, fileList) {
                        this.timeSeriesFile = fileList;
                    },
                    beforeUpload2(file, fileList) {
                        this.timeInfoFile = fileList;
                    },
                    // 获取cookie
                    getCookie(cname) {
                        var name = cname + "=";
                        var ca = document.cookie.split(';');
                        for(var i=0; i<ca.length; i++)
                        {
                            var c = ca[i].trim();
                            if (c.indexOf(name)==0) return c.substring(name.length,c.length);
                        }
                        return "";
                    },
					changeCluster(val) {
					    this.resultTabData.selectedCluster = val;
					    console.log('selectCluster:' +this.resultTabData.selectedCluster);
					    this.$forceUpdate();
					    this.plotUpdate();
					},
					plotUpdate() {
						let that = this;
						var selectedCluster = that.resultTabData.selectedCluster;
						let plot_data = that.resultTabData.plot_data
						var trend_data = plot_data.trend_data;
						var tread_data_line = plot_data.tread_data_line;
						console.log('tread_data_line:' + JSON.stringify(tread_data_line))

						var x_Axis = plot_data.x_Axis;
						var time =  (typeof selectedCluster === 'undefined'  || selectedCluster === '' ) ? 0 : trend_data[selectedCluster].x;
						var geneData = (typeof selectedCluster === 'undefined'  || selectedCluster === '' ) ? 0 : trend_data[selectedCluster].y;
						var gene = (typeof selectedCluster === 'undefined'  || selectedCluster === '' ) ? 0 : trend_data[selectedCluster].z;
						var newx =  (typeof selectedCluster === 'undefined'  || selectedCluster === '' ) ? 0 : tread_data_line[selectedCluster].x;
						var newy = (typeof selectedCluster === 'undefined'  || selectedCluster === '' ) ? 0 : tread_data_line[selectedCluster].y;
						console.log('geneData:' + JSON.stringify(geneData))
						
						var trace1 = {
							  x: x_Axis,
							  y: geneData,
							  name: "expression value",
							  mode: 'markers'
						};

                        var traceData = [];
                        traceData.push(trace1)
                        var newTrace = {
                            x: newx,
                            y: newy,
                            mode: 'lines',
                            name: 'predicted value'
                        };
                        traceData.push(newTrace);

						var lineChartLayout = {
							  title: gene + ' trend chart',
							  xaxis: {
								  title: 'Time Series'
							  },
							  yaxis: {
								  title: 'Gene Expression Value'
							  }
						};

						Plotly.newPlot('line-chart', traceData, lineChartLayout);
						
					},
					submitForm(analysisResultId) {
						  oldAnalysisId = this.resultTabData.analysis_id
						  this.resultTabData.analysis_id = '';
						  let that = this;
						  const formData = new FormData();
						  formData.append("analysisResultId", analysisResultId);
						  formData.append("timeSeriesText", this.timeSeriesText);
						  formData.append("timeInfoText", this.timeInfoText);
						  formData.append("timeSeriesTextOpen", this.timeSeriesTextOpen);
						  formData.append("timeInfoTextOpen", this.timeInfoTextOpen);
						  if (!this.timeSeriesTextOpen) {
							  formData.append("file1", this.timeSeriesFile[0].raw)
						  }
						  if (!this.timeInfoTextOpen) {
							  formData.append("file2", this.timeInfoFile[0].raw)
						  }
						  const service = axios.create({
							  baseURL: '',
							  timeout: 20000,
							  headers: {
								  'Content-Type': 'application/x-www-form-urlencoded',
								  'X-CSRFToken': this.getCookie("csrftoken")
							  }
						  })
			
						  that.submitLoading = true;
						  service.post('/GeTeSEPdb/analysis/single_gene_analysis_submit', formData)
							.then(function (res) {
								that.submitLoading = false;
								let resData = res.data
								{#console.log('Back end return:' + JSON.stringify(resData));#}
								if (resData.status === 1) {
									  // 运行成功
									let returnData = resData.data;
                                    that.resultTabData = returnData;
									let model_list = that.resultTabData.model_list;
									that.activeTab = 'resultTab';
									  // 结果赋值给resultTabData去画图渲染
                                    if (model_list.length > 0) {
                                        that.changeCluster(model_list[0])
                                    }
								} else {
									that.$message.error('fitting failed,Analyze ID:' + resData.data.analysis_id);
									that.activeTab = 'resultTab';
									  // 结果赋值给resultTabData去画图渲染
									that.resultTabData = resData.data
								}
							})
							.catch(function (error) {
								that.submitLoading = false;
								console.log(error);
							});
						}
						
          //           submitForm(analysisResultId) {
          //               oldAnalysisId = this.resultTabData.analysis_id
          //               this.resultTabData.analysis_id = '';
          //               let that = this;
          //               const formData = new FormData();
          //               formData.append("analysisResultId", analysisResultId);
          //               formData.append("timeSeriesText", this.timeSeriesText);
          //               formData.append("timeInfoText", this.timeInfoText);
          //               formData.append("timeSeriesTextOpen", this.timeSeriesTextOpen);
          //               formData.append("timeInfoTextOpen", this.timeInfoTextOpen);
          //               if (!this.timeSeriesTextOpen) {
          //                   formData.append("file1", this.timeSeriesFile[0].raw)
          //               }
          //               if (!this.timeInfoTextOpen) {
          //                   formData.append("file2", this.timeInfoFile[0].raw)
          //               }
          //               const service = axios.create({
          //                   baseURL: '',
          //                   timeout: 20000,
          //                   headers: {
          //                       'Content-Type': 'application/x-www-form-urlencoded',
          //                       'X-CSRFToken': this.getCookie("csrftoken")
          //                   }
          //               })

          //               that.submitLoading = true;
          //               service.post('/GeTeSEPdb/analysis/single_gene_analysis_submit', formData)
          //                   .then(function (res) {
          //                       that.submitLoading = false;
          //                       let resData = res.data
          //                       {#console.log('Back end return:' + JSON.stringify(resData));#}
          //                       if (resData.status === 1) {
          //                           // 运行成功
          //                           let returnData = resData.data;
          //                           that.activeTab = 'resultTab';
          //                           // 结果赋值给resultTabData去画图渲染
          //                           that.resultTabData = returnData

          //                           let plot_data = that.resultTabData.plot_data
          //                           var trend_data = plot_data.trend_data;
          //                           var tread_data_line = plot_data.tread_data_line;
          //                           console.log('tread_data_line:' + JSON.stringify(tread_data_line))

          //                           var x_Axis = plot_data.x_Axis;

          //                           var time = trend_data.x;
          //                           var geneData = trend_data.y;
          //                           var gene = trend_data.z;
          //                           var traceData = [];
          //                           var trace1 = {
          //                               x: x_Axis,
          //                               y: geneData,
          //                               name: "expression value",
          //                               mode: 'markers'
          //                           };
          //                           var trace2 = {
          //                               x: tread_data_line.x,
          //                               y: tread_data_line.y,
          //                               mode: 'lines',
          //                               name: "predicted value",
										// line: {
										// 		color: 'black' // 设置线条颜色为黑色
										// 	}
          //                           };
          //                           traceData.push(trace1, trace2);


          //                           var lineChartLayout = {
          //                               title: gene + ' trend chart',
          //                               xaxis: {
          //                                   title: 'Time Series'
          //                               },
          //                               yaxis: {
          //                                   title: 'Gene Expression Value'
          //                               }
          //                           };

          //                           Plotly.newPlot('line-chart', traceData, lineChartLayout);
          //                       } else {
          //                           that.$message.error('Run failed,Analyze ID:' + resData.data.analysis_id);
          //                           that.activeTab = 'resultTab';
          //                           // 结果赋值给resultTabData去画图渲染
          //                           that.resultTabData = resData.data
          //                       }

          //                   })
          //                   .catch(function (error) {
          //                       that.submitLoading = false;
          //                       console.log(error);
          //                   });
          //           }
                }
            });
        </script>

        <!-- 底部 -->
				{% include 'public_templates/footer.html' %}
    </body>

</html>