<!DOCTYPE html>
<html>
	<head>
		<title>BROWSE</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{% include 'public_templates/bootstrap.html' %}
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.12.1/css/jquery.dataTables.css"> 
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css">
		<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
		<!-- jQuery -->
		<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
		<script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
		<script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
		<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
		<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
		<script type="text/javascript">
			var jquery3 = jQuery.noConflict(true);
		</script>


		<!--第一步：引入Javascript / CSS （CDN）-->
		<!-- DataTables CSS -->
		<link rel="stylesheet" type="text/css" href="/timecourse_app_static/cdn/css/jquery.dataTables.css">
		<!-- jQuery -->
		<script type="text/javascript" charset="utf8" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
		<!-- DataTables -->
		<script type="text/javascript" charset="utf8" src="/timecourse_app_static/cdn/js/jquery.dataTables.js"></script>

		<link rel="stylesheet" href="/timecourse_app_static/selectmenu/selectmenu.css">
		<script src="/timecourse_app_static/selectmenu/selectmenu.js"></script>

        <style>
            .browser-active {
                background-color: #17a2b8;
            }
        </style>
		<!-- 分页 -->
		<!-- <link rel="stylesheet" href="/timecourse_app_static/pagination/argon-design-system.css"> -->
		<!-- <script src="/timecourse_app_static/pagination/datatable.js.下载"></script> -->
		<script>
			function table(id, data, pageRow) {
			    var tbody = document.getElementById(id).children[1];
			    var ul = document.getElementById(id + "_ul");

			    var data = data;

			    var dataLength = data.length;
			    var curPage = 1;
			    var pageRow = pageRow;
			    var pageAll = parseInt(dataLength / pageRow) < dataLength / pageRow ? parseInt(dataLength / pageRow + 1) : parseInt(dataLength / pageRow);
			    function pageFresh() {
			        tbody.innerHTML = "";
			        ul.innerHTML = "";
			        curPage = parseInt(curPage);
			        var start = (curPage - 1) * pageRow;
			        var end = dataLength > curPage * pageRow ? curPage * pageRow : dataLength;
			        //表格
			        for (let i = start; i < end; i++) {
			            var row = data[i];
			            var tr = document.createElement("tr");

			            Object.keys(row).forEach(function (key) {
			                var td = document.createElement("td");
			                td.innerHTML = row[key];

			                tr.appendChild(td);

			            })
			            tbody.appendChild(tr);
			        }
			        //跳转界面后已选择项判断
			        var url_param = "",
			            params = [],
			            arr_params = [];
			        var url = decodeURIComponent(window.location.href);

			        var url_param = url.split("?")[1];
			        if (url_param) {
                        let queryStr = url.split('?')[1]
                        let selectStr = queryStr.split('&').find(f => f.startsWith('select'))
                        let browserTypeStr = queryStr.split('&').find(f => f.startsWith('browserType'))
			            var params = [];
                        if (selectStr !== undefined ) {
                            params = selectStr.split(",")
                        }
			            var arr_params = new Array;
			            for (let param in params) {
			                $("#" + params[param].split(":")[1].slice(1, -1).replace(/[,| ]/g, "_")).attr("class", "list-group-item active");
			     //            if (params[param].includes("|")){
			     //                $("#" + params[param].split(":")[1].slice(1, -1).replaceAll("|", "_")).attr("class", "list-group-item active");
			     //               }else if(params[param].includes(" ")){
			     //                $("#" + params[param].split(":")[1].slice(1, -1).replaceAll(" ", "_")).attr("class", "list-group-item active");
			     //               }else if(params[param].includes(",")){
								// $("#" + params[param].split(":")[1].slice(1, -1).replaceAll(",", "_")).attr("class", "list-group-item active");
							 //   }else{
			     //                $("#" + params[param].split(":")[1].slice(1, -1).replace(/[^0-9A-Za-z]/g, "_")).attr("class", "list-group-item active");
			     //               }
							// $("#" + params[param].split(":")[1].slice(1, -1)).attr("class", "list-group-item active");
			                // console.log(params[param].split(":")[1].slice(1, -1).replace(/[^0-9A-Za-z]/g, "_"))
							arr_params[params[param]] = params[param];
			            }
			        }
			        // 页面跳转
			        $("a").click(function (doc) {
			            if (doc.target.dataset.type == "collapse") return;
			            if (doc.target.className == "list-group-item active" || doc.target.className == "list-group-item") {
			                var type = doc.target.dataset.type;
			                var name = doc.target.dataset.name;
			                var sub_params = type + ":'" + name + "'";
			                if (arr_params[sub_params] != sub_params) {
			                    arr_params[sub_params] = sub_params;
			                }
			                else {
			                    arr_params[sub_params] = "";
			                }
			                var select = "select=";
			                var select_is = 0;
			                for (i in arr_params) {
			                    if (arr_params[i] == "") continue;
			                    select_is = 1;
			                    select += (arr_params[i] + ",");
			                }
			                if (select_is == 1) {
			                    select = select.slice(0, -1);
			                }
			                else {
			                    select = "";
			                }
                            url = decodeURIComponent(window.location.href);
                            let queryStr = url.split('?')[1]
                            let browserTypeStr = queryStr.split('&').find(f => f.startsWith('browserType'))
                            if (browserTypeStr !== undefined) {
                                window.location.href = 'browse' + "?browserType=" + browserTypeStr + "&" + select.replace(/\+/g, '%2B');
                            } else {
                                window.location.href = 'browse' + "?" + select.replace(/\+/g, '%2B');
                            }

			            }
			        });
			        //分页按钮
			        if (dataLength > 5) {
			            // var li_previous = document.createElement("li");
			            // var a_previous = document.createElement("a");
			            // a_previous.innerHTML = "Previous";
			            // a_previous.id = "Previous";
			            // li_previous.appendChild(a_previous);
			            // ul.appendChild(li_previous);
			            if (pageAll <= 5) {
			                for (let i = 1; i <= pageAll; i++) {
			                    var li = document.createElement("li");
			                    var a = document.createElement("a");
			                    a.innerHTML = i.toString();
			                    a.id = id + i.toString();
			                    li.appendChild(a);
			                    ul.appendChild(li);
			                }
			            }
			            else {
			                if (curPage <= 3) {
			                    for (let i = 1; i <= 4; i++) {
			                        var li = document.createElement("li");
			                        var a = document.createElement("a");
			                        a.innerHTML = i.toString();
			                        a.id = id + i.toString();
			                        li.appendChild(a);
			                        ul.appendChild(li);
			                    }
			                    var li = document.createElement("li");
			                    var a = document.createElement("a");
			                    a.innerHTML = "...";
			                    li.appendChild(a);
			                    ul.appendChild(li);
			                    var li = document.createElement("li");
			                    var a = document.createElement("a");
			                    a.innerHTML = pageAll;
			                    a.id = id + pageAll.toString();
			                    li.appendChild(a);
			                    ul.appendChild(li);
			                }
			                else if (curPage >= pageAll - 2) {
			                    var li = document.createElement("li");
			                    var a = document.createElement("a");
			                    a.innerHTML = 1;
			                    a.id = id + "1";
			                    li.appendChild(a);
			                    ul.appendChild(li);
			                    var li = document.createElement("li");
			                    var a = document.createElement("a");
			                    a.innerHTML = "...";
			                    li.appendChild(a);
			                    ul.appendChild(li);
			                    for (let i = pageAll - 3; i <= pageAll; i++) {
			                        var li = document.createElement("li");
			                        var a = document.createElement("a");
			                        a.innerHTML = i;
			                        a.id = id + i.toString();
			                        li.appendChild(a);
			                        ul.appendChild(li);
			                    }
			                }
			                else {
			                    var li = document.createElement("li");
			                    var a = document.createElement("a");
			                    a.innerHTML = 1;
			                    a.id = id + "1";
			                    li.appendChild(a);
			                    ul.appendChild(li);
			                    var li = document.createElement("li");
			                    var a = document.createElement("a");
			                    a.innerHTML = "...";
			                    li.appendChild(a);
			                    ul.appendChild(li);
			                    //console.log(curPage);
			                    for (let i = curPage - 1; i <= curPage + 1; i++) {
			                        var li = document.createElement("li");
			                        var a = document.createElement("a");
			                        a.innerHTML = i;
			                        a.id = id + i.toString();
			                        li.appendChild(a);
			                        ul.appendChild(li);
			                    }
			                    var li = document.createElement("li");
			                    var a = document.createElement("a");
			                    a.innerHTML = "...";
			                    li.appendChild(a);
			                    ul.appendChild(li);
			                    var li = document.createElement("li");
			                    var a = document.createElement("a");
			                    a.innerHTML = pageAll;
			                    a.id = id + pageAll.toString();
			                    li.appendChild(a);
			                    ul.appendChild(li);
			                }
			            }
			            // var li_next = document.createElement("li");
			            // var a_next = document.createElement("a");
			            // a_next.innerHTML = "Next";
			            // a_next.id = "Next";
			            // li_next.appendChild(a_next);
			            // ul.appendChild(li_next);
			            document.getElementById(id + curPage.toString()).parentElement.className = "active";
			            ul.onclick = function (e) {
			                if (e.target.nodeName == "A" && e.target.innerHTML != "...") {
			                    switch (e.target.innerHTML) {
			                        case 'Previous':
			                            curPage = curPage > 1 ? curPage - 1 : 1;
			                            break;
			                        case 'Next':
			                            curPage = curPage == pageAll ? curPage : curPage + 1;
			                            break;
			                        default:
			                            curPage = e.target.innerHTML;
			                            break;
			                    }
			                    pageFresh();
			                }
			            }
			        }
			    }
			    pageFresh();
			}

            // fixme "http://127.0.0.1:8000/GeTeSEPdb/browse?select=experiment_type:'Drug or reagent treatment',strategy:'Microarray'"
			function select_data(doc) {
                {#alert('doc:' + JSON.stringify(doc))#}
                console.log('doc:', doc);
			    //跳转界面后已选择项判断
			    var url_param = "";
                var url = decodeURIComponent(window.location.href);
			    {#    params = [],#}
			    {#    arr_params = [];#}
			    {#var url = decodeURIComponent(window.location.href);#}
			    {#var url_param = url.split("?")[1];#}
			    {#if (url_param) {#}
			    {#    var params = url_param.split("=")[1];#}
			    {#    var params = params.split("|");#}
			    {#    var arr_params = new Array;#}
			    {#    //console.log(params);#}
			    {#    for (let param in params) {#}
			    {#        $("#" + params[param].split(":")[1].slice(1, -1).replace(/[^0-9A-Za-z]/g, "_")).attr("class", "list-group-item active");#}
			    {#        arr_params[params[param]] = params[param];#}
			    {#    }#}

			    {#// 页面跳转#}
			    {#// console.log(doc.className);#}
			    {#var type = doc.dataset.type;#}
			    {#var name = doc.dataset.name;#}
			    {#var sub_params = type + ":'" + name + "'";#}
			    {#if (arr_params[sub_params] != sub_params) {#}
			    {#    arr_params[sub_params] = sub_params;#}

                let urlMap = new Map();

                if (url.split('?').length > 1) {
                    let queryStr = url.split('?')[1]
                    let selectStr = queryStr.split('&').find(f => f.startsWith('select'))
                    if (selectStr !== undefined) {
                        selectStr.split('=')[1].split(',').forEach(function(d) {
                            let q = d.split(':')[1].slice(1, d.split(':')[1].length - 1);
                            let k = d.split(':')[0] + '@' + q;
                            urlMap.set(k, q);
                        });
                    }
                }

                var type = doc.dataset.type;
                var name = doc.dataset.name;
                // var browserType = doc.dataset.browserType;
				let queryStr = url.split('?')[1];
				let browserTypeStr = queryStr.split('&').find(f => f.startsWith('browserType'))
				console.log(browserTypeStr)

                if (urlMap.has(type + '@' + name)) {
                    urlMap.delete(type + '@' + name);

                    $('.browser-db-column').each(function() {
                        let mapKey = $(this).data().type + '@' + $(this).data().name;
                        if (mapKey === (type + '@' + name)) {
                            $(this).attr('class', 'browser-db-column list-group-item');
                        }
                    });
                } else {
                    urlMap.set(type + '@' + name, name);
                }



                let params = Array.from(urlMap).map(([k, v]) => {
                    return k.split('@')[0] + ':' + "'" + urlMap.get(k) + "'";
                }).join(',');

                $('.browser-db-column').attr('disabled', 'true');

                if (urlMap.size > 0) {
                    window.location.href = 'browse' + "?" + browserTypeStr + "&select=" + params;
                } else {
                    window.location.href = 'browse?' + browserTypeStr;
                }
			}

		</script>


		<!-- button add -->
		<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
		<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>

		<!-- 这是用于测试gitee的文字 -->
		<style>

			.dataTable {
				text-align: center;
			}

			/* datatable button */
			.dt-button.icon_:before {
				color: #fff;
				padding-top: 10px;
				content: "\f019";
				font-family: FontAwesome;
				font-size: 20px;
			}
			.dt-button.icon_{
				background-color: #17a2b8;
				border-color: #17a2b8;
			}
			.dt-button {
				margin-top: 5px;
			}
			/* datatable search */
			.dataTables_filter {
				margin-top: 5px;
			}
			/* datatable info */
			.dataTables_info {
				margin-left: -30px;
			}

			.dataTables_length {
				margin-top: 5px;
			}

		</style>
		<style>
			.index {
				font-size: 1rem;
			}

		/* 	a {
				margin-left: 5px;
			} */
			.table tbody tr td{
				height: 20px;
				max-width: 20px;
				background-color: aliceblue;
				/* background-color: #d1ecf1; */
			    overflow: hidden;
			    text-overflow:ellipsis;
			    white-space: nowrap;
				text-align: center;
				vertical-align: middle;
			 }
			 .table tbody tr th{
			 	text-align: center;
			  }
			  table tbody{
				  font-size: 20px;
			  }
			  .list-group-item:last-child .list-group-item:first-child{
				  border-radius: 0rem;
				  margin-bottom: -2px;
			  }
		</style>
		<style>
			*[class*="list-group"] {
				width: 100px;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
			}

			ul.pagination li a {
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 0;
				margin: 0 1px;
				width: 31px;
				height: 31px;
				font-size: 0.875rem;
				background-color: #fff;
				border: 0.0625rem solid #dee2e6;
			}

			ul.pagination li a:hover {
				z-index: 2;
				color: #8898aa;
				text-decoration: none;
				background-color: #dee2e6;
				border-color: #dee2e6;
			}

			ul.pagination li.active a {
				color: #fff;
				background-color: #5e72e4;
				border-color: #5e72e4;
			}
			/* 调整侧栏字体 */
			.list-group-item {
				/* width: 330px; */
				/* width: 230px; */
				width: 90%;
				padding: 0.3rem 0.25rem 0.1rem 0.75rem;
				vertical-align: middle;
				margin: 0;
			}
			.list-group-item:last-child .list-group-item:first-child{
							  border-radius: 0rem;
							  margin-bottom: -2px;
			}
			.text-black-50{color: rgba(0,0,0,1)!important;}
			.font-weight-bold {
			    /* font-weight: 700!important; */
				font-weight: normal;
				font-size: 20px;
				vertical-align: middle;
				margin: 0;
				vertical-align: middle;
			}
			.list-group-item td{
				padding: 0;
			}
			a[onclick="select_data(this)"] {
				color: #17a2b8;
			}
			.list-group-item.active{background-color: #99c3c7;color: white;border: none;}
			.badge-info{
				background-color: #99c3c7;
			}
			.zzy_table tr td{
				margin: 0;
				padding: 0;
				border: none;
			}
			.col-12 .zzy_table>a{border-radius: 0;}
			/* 侧栏页颜色 */
			ul.pagination li.active a{background-color: #99c3c7;border: none;}
			.text-success{border: none;background-color: white;}
			.sm_container{z-index: 100;}
			td.studyId {
						color: #17a2b8;
						text-decoration: underline;
					}
					
					td.studyId:hover {
						color: #138496;
						cursor: pointer;
					}
					td.genename {
						color: #17a2b8;
						text-decoration: underline;
					}
					
					td.genename:hover {
						color: #138496;
						cursor: pointer;
					}
					.btn-custom {
					  background-color: #17a2b8;
					  color: white;
					  /* 其他样式属性 */
					}
		</style>
		<script type="text/javascript">
			// 加载提示框
			jquery3(document).ready(function() {
				// $('[data-toggle="popover"]').popover({
				// 	trigger : 'hover',
				// 	html: true, //开启html 为true的话，data-content里就能放html代码了
				// 	content: '<img src="/timecourse_app_static/img/structures_svg/{{drug.drug_structure}}"'
				// });
				// $("#byInitial div a").css('color', 'orange');
				jquery3("#byInitial div a").attr('href', function() {
					return "/ddpd/browse?query_content=" + this.text;
				});
				// 导航栏加亮
				jquery3("#nav_browse").addClass("active");
				jquery3("#page_title").text('BROWSE');
			});
			// browse加href属性
			// $(".list-group-item>button").click(function(){
			// 	$(".sm_input").keydown(function() {
			// 	 select_value = $(".sm_over").text()
			// 	 select_data(select_value)
			// 	 keyNum=0
			// 	};
			// });
			// document.onkeydown = function(event) {
			//     var keyNum = window.event.keyCode
			//     if (keyNum == 13) {
			//      $(".sm_input").keydown(function() {
			//       select_value = $(".sm_over").text()
			//       select_data(select_value)
			//       keyNum=0

			//      })
			//     }

			//    }
			   document.onkeydown = function(event) {
			    var keyNum = window.event.keyCode
			    if (keyNum == 13) {
			     select_value = $(".sm_over").text()
			     console.log(select_value)
			     if (select_value != ""){
			      select_data($(".sm_over a").parent())
			     }

			    }

			   }
			   
		</script>
		
	</head>
	<body>
		<!-- 导航栏 -->
		{% include 'public_templates/nav_tem.html' %}
		{% include 'public_templates/page_title.html' %}

		<div class="container col-11">
			{% csrf_token %}
			<hr />
			<div class="row">
				<div class="col-6">
					<button type="button" id="button_table"  class="btn btn-info" style="width: 100%;height: 40.25px;">Browse by dataset table</button>
				</div>
				<div class="col-6">
					<button type="button" id="button_pattern"  class="btn btn-info" style="width: 100%;background: #99c3c7;border: #99c3c7;height: 40.25px;">Browse by Pattern</button>
				</div>
			</div>
			<br />
			<div id="browsebydatatable" class="row">
				<!-- <div class="col-2" style="padding-left: 0px;"> -->
				<div class="col-2" style="">
					<!-- Experiment Type -->
					<table class="col-12 zzy_table" id="sample_experiment_type_">
					    <thead>
					        <tr>
					            <th>
					                <div class='list-group-item'>
					                    <h4 class='font-weight-bold text-black-50'>Experiment Type<button
					                            class='ni ni-zoom-split-in float-right position-relative bottom--2 text-success'
					                            id='select_experiment_type'><img src="../timecourse_app_static/img/search.svg"/></button></h4>
					                    <script>
					                        $('#select_experiment_type').click(function() {
					                            $(this).selectMenu({
					                                showField: 'name', //指定显示文本的字段
					                                keyField: 'id', //指定id的字段
					                                data: {{dataset_experiment_type | safe}}
					                            })
					                        });
					                    </script>
					                </div>
					            </th>
					        </tr>
					    </thead>
					    <tbody>
					    </tbody>
					</table>
					<ul class="pagination" id="sample_experiment_type__ul"></ul>
					<script type="text/javascript">
					    var data_sample_experiment_type_ = {{dataset_experiment_type_list | safe}};
						console.log(data_sample_experiment_type_);
					    var sample_experiment_type_ = new table('sample_experiment_type_', data_sample_experiment_type_, 5);
					</script>

					<table class="col-12 zzy_table" id="sample_library_strategy_">
						<thead>
							<tr>
								<th>
									<div class='list-group-item'>
										<h4 class='font-weight-bold text-black-50'>Data Type<button
												class='ni ni-zoom-split-in float-right position-relative bottom--2 text-success'
												id='select_library_strategy'><img src="../timecourse_app_static/img/search.svg"/></button></h4>
										<script>
											$('#select_library_strategy').click(function() {
												$(this).selectMenu({
													showField: 'name', //指定显示文本的字段
													keyField: 'id', //指定id的字段
													data: {{dataset_library_strategy |safe}}
												})
											});
										</script>
									</div>
								</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
					<ul class="pagination" id="sample_library_strategy__ul"></ul>
					<script type="text/javascript">
						var data_sample_library_strategy_ = {{dataset_library_strategy_list|safe}};
						var sample_library_strategy_ = new table('sample_library_strategy_', data_sample_library_strategy_, 4);
						// sample_tissue_type_;
					</script>

					<table class="col-12 zzy_table" id="sample_tissue_type_">
						<thead>
							<tr>
								<th>
									<div class='list-group-item'>
										<h4 class='font-weight-bold text-black-50'>Tissue/Cell Type<button
												class='ni ni-zoom-split-in float-right position-relative bottom--2 text-success'
												id='select_tissue'><img src="../timecourse_app_static/img/search.svg"/></button></h4>
										<script>
											$('#select_tissue').click(function() {
												$(this).selectMenu({
													showField: 'name', //指定显示文本的字段
													keyField: 'id', //指定id的字段
													data: {{dataset_tissue |safe}}
												})
											});
										</script>
									</div>
								</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
					<ul class="pagination" id="sample_tissue_type__ul"></ul>
					<script type="text/javascript">
						var data_sample_tissue_type_ = {{dataset_tissue_list|safe}};
						// {{show_tissue_list|safe}};
						var sample_tissue_type_ = new table('sample_tissue_type_', data_sample_tissue_type_, 4);
					</script>

					<table class="col-12 zzy_table" id="sample_organism_type_">
						<thead>
							<tr>
								<th>
									<div class='list-group-item'>
										<h4 class='font-weight-bold text-black-50'>Organism<button
												class='ni ni-zoom-split-in float-right position-relative bottom--2 text-success'
												id='select_organism'><img src="../timecourse_app_static/img/search.svg"/></button></h4>
										<script>
											$('#select_organism').click(function() {
												$(this).selectMenu({
													showField: 'name', //指定显示文本的字段
													keyField: 'id', //指定id的字段
													data: {{dataset_organism |safe}}
												})
											});
										</script>
									</div>
								</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
					<ul class="pagination" id="sample_organism_type__ul"></ul>
					<script type="text/javascript">
						var data_sample_organism_type_ = {{dataset_organism_list|safe}};
						var sample_organism_type_ = new table('sample_organism_type_', data_sample_organism_type_, 4);
						// sample_tissue_type_;
					</script>
				</div>
				

				<div class="col-10" style="padding-left: 0;">
					<div>
						{% for str in showstr %}
							<a onclick="select_data(this)" data-name="{{str.data_name}}" data-type="{{str.data_type}}" class="badge badge-info" type="button"><span style="color: #e44f22;font-size: 15px;">X</span> <span style="color: white;font-size: 15px;">{{str.data_name}}</span></a>
						{% endfor %}
					</div>
					<!-- <br /> -->
					<table id="datatset_exp" class="display" style="width: 100%;">
					     <thead>
					        <tr>
					            <th>Time course ID</th>
								<!-- <th>Gene</th> -->
								<th>Data Accession</th>
								<!-- <th>Cluster</th>
								<th>Model</th> -->
								<th>Time</th>
								<th>Unit</th>
								<th>Time change factor</th>
								<th>Experiment type</th>
								<th>Tissue/Cell type</th>
								<th>Organism</th>
								<th>Data Type</th>
								<!-- <th>Gene Table</th> -->
					        </tr>
					    </thead>
					</table>
				</div>

			</div>
			<script>
			var allsampleinfo_data = {{ allsampleinfo_data|safe }};
				var datatset_Exp= $('#datatset_exp').DataTable({
					select: true,
					bAutoWidth: false,
					'iDisplayLength':10,
					data: allsampleinfo_data,
					"dom": "<'row'<'col-sm-12 col-md-1'B><'col-sm-12 col-md-8'i><'col-sm-12 col-md-3'f>>" +
						"<'row'<'col-sm-12'tr>>" +
						"<'row'<'col-sm-12 col-md-5'l><'col-sm-12 col-md-7'p>>",
					buttons: [{
						extend: 'csv',
						text: "",
						className: "icon_",
						}],
					columns: [
						{
							title: 'Project ID',
							data: 'studyid',
							className: 'studyId',
							"render": function(data, type, row, meta){
								if(type === 'display'){
									// data = '<button type="button" class="btn btn-primary btn-custom" data-toggle="modal" data-target="#studyid_gene" value="' + data + '">open</button>'
									data = '<a style="color:#138496" href="' + './detail/' + data + '" >' + data + ' </a>';
								}
								return data;
							},
						},
						{ data: 'accession' },
						
						{
							data: 'time',
							"render": function(data, type, row, meta) {
								if (type === 'display') {
									var times = data.split(';');
									var truncatedTimes = times.slice(0, 5).join(';');
									if (times.length > 5) {
										truncatedTimes += '...';
									}
									return truncatedTimes;
								}
								return data;
							}
						},		
						{ data: 'unit' },
						{ data: 'related_factor' },
						{ data: 'experiment_type' },
						{ data: 'tissue_cell_type' },
						{ data: 'organism' },
						{ data: 'strategy' },
					]
				});
				// $(document).ready( function () {
			
				// });
				// $('#datatset_exp').on('click', 'tbody .studyId', function(){
				// 	tr_data = Showdata_Exp.row($(this).parents('tr')).data();
				// 	studyid = tr_data.studyid;
				// 	window.location = './detail/'+studyid;
				// });
				</script>
			<div id="browsebypattern" class="row">
				<div class="col-2" style="">
					<!-- Model Type -->
					<table class="col-12 zzy_table" id="sample_model_type_1_">
					    <thead>
					        <tr>
					            <th>
					                <div class='list-group-item'>
					                    <h4 class='font-weight-bold text-black-50'>Model Type<button
					                            class='ni ni-zoom-split-in float-right position-relative bottom--2 text-success'
					                            id='select_model_type'><img src="../timecourse_app_static/img/search.svg"/></button></h4>
					                    <script>
					                        $('#select_model_type').click(function() {
					                            $(this).selectMenu({
					                                showField: 'name', //指定显示文本的字段
					                                keyField: 'id', //指定id的字段
					                                data: {{show_model_type | safe}}
					                            })
					                        });
					                    </script>
					                </div>
					            </th>
					        </tr>
					    </thead>
					    <tbody>
					    </tbody>
					</table>
					<ul class="pagination" id="sample_model_type_1__ul"></ul>
					<script type="text/javascript">
					    var data_sample_model_type1_ = {{show_model_type_list | safe}};
					    var sample_model_type_1_ = new table('sample_model_type_1_', data_sample_model_type1_,5);
					</script>
					
					<!-- Experiment Type -->
					<table class="col-12 zzy_table" id="sample_experiment_type_2_">
					    <thead>
					        <tr>
					            <th>
					                <div class='list-group-item'>
					                    <h4 class='font-weight-bold text-black-50'>Experiment Type<button
					                            class='ni ni-zoom-split-in float-right position-relative bottom--2 text-success'
					                            id='select_experiment_type2'><img src="../timecourse_app_static/img/search.svg"/></button></h4>
					                    <script>
					                        $('#select_experiment_type2').click(function() {
					                            $(this).selectMenu({
					                                showField: 'name', //指定显示文本的字段
					                                keyField: 'id', //指定id的字段
					                                data: {{show_experiment_type | safe}}
					                            })
					                        });
					                    </script>
					                </div>
					            </th>
					        </tr>
					    </thead>
					    <tbody>
					    </tbody>
					</table>
					<ul class="pagination" id="sample_experiment_type_2__ul"></ul>
					<script type="text/javascript">
					    var data_sample_experiment_type1_ = {{show_experiment_type_list | safe}};
					    var sample_experiment_type_2_ = new table('sample_experiment_type_2_', data_sample_experiment_type1_, 5);
					</script>
				
					<table class="col-12 zzy_table" id="sample_library_strategy_2_">
						<thead>
							<tr>
								<th>
									<div class='list-group-item'>
										<h4 class='font-weight-bold text-black-50'>Data Type<button
												class='ni ni-zoom-split-in float-right position-relative bottom--2 text-success'
												id='select_library_strategy2'><img src="../timecourse_app_static/img/search.svg"/></button></h4>
										<script>
											$('#select_library_strategy2').click(function() {
												$(this).selectMenu({
													showField: 'name', //指定显示文本的字段
													keyField: 'id', //指定id的字段
													data: {{show_library_strategy |safe}}
												})
											});
										</script>
									</div>
								</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
					<ul class="pagination" id="sample_library_strategy_2__ul"></ul>
					<script type="text/javascript">
						var data_sample_library_strategy1_ = {{show_library_strategy_list|safe}};
						var sample_library_strategy_2_ = new table('sample_library_strategy_2_', data_sample_library_strategy1_, 4);
						// sample_tissue_type_;
					</script>
				
					<table class="col-12 zzy_table" id="sample_tissue_type_2_">
						<thead>
							<tr>
								<th>
									<div class='list-group-item'>
										<h4 class='font-weight-bold text-black-50'>Tissue/Cell Type<button
												class='ni ni-zoom-split-in float-right position-relative bottom--2 text-success'
												id='select_tissue1'><img src="../timecourse_app_static/img/search.svg"/></button></h4>
										<script>
											$('#select_tissue1').click(function() {
												$(this).selectMenu({
													showField: 'name', //指定显示文本的字段
													keyField: 'id', //指定id的字段
													data: {{show_tissue |safe}}
												})
											});
										</script>
									</div>
								</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
					<ul class="pagination" id="sample_tissue_type_2__ul"></ul>
					<script type="text/javascript">
						var data_sample_tissue_type1_ = {{show_tissue_list|safe}};
						// {{show_tissue_list|safe}};
						var sample_tissue_type_2_ = new table('sample_tissue_type_2_', data_sample_tissue_type1_, 4);
					</script>
				
					<table class="col-12 zzy_table" id="sample_organism_type_2_">
						<thead>
							<tr>
								<th>
									<div class='list-group-item'>
										<h4 class='font-weight-bold text-black-50'>Organism<button
												class='ni ni-zoom-split-in float-right position-relative bottom--2 text-success'
												id='select_organism1'><img src="../timecourse_app_static/img/search.svg"/></button></h4>
										<script>
											$('#select_organism1').click(function() {
												$(this).selectMenu({
													showField: 'name', //指定显示文本的字段
													keyField: 'id', //指定id的字段
													data: {{show_organism |safe}}
												})
											});
										</script>
									</div>
								</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
					<ul class="pagination" id="sample_organism_type_2__ul"></ul>
					<script type="text/javascript">
						var data_sample_organism_type1_ = {{show_organism_list|safe}};
						var sample_organism_type_2_ = new table('sample_organism_type_2_', data_sample_organism_type1_, 4);
						// sample_tissue_type_;
					</script>
				</div>
				
				
				<div class="col-10" style="padding-left: 0;">
					<div>
						{% for str in showstr %}
							<a onclick="select_data(this)" data-name="{{str.data_name}}" data-type="{{str.data_type}}" class="badge badge-info" type="button"><span style="color: #e44f22;font-size: 15px;">X</span> <span style="color: white;font-size: 15px;">{{str.data_name}}</span></a>
						{% endfor %}
					</div>
					<!-- <br /> -->
					<table id="showdata_exp" class="display" style="width: 100%;">
					     <thead>
					        <tr>
					            <th>Time course ID</th>
								<!-- <th>Gene</th> -->
								<!-- <th>Data Accession</th> -->
								<th>Model</th>
								<th>Cluster</th>
								<!-- <th>Time</th>
								<th>Unit</th>
								<th>Time change factor</th> -->
								<th>Experiment type</th>
								<th>Tissue/Cell type</th>
								<th>Organism</th>
								<th>Data Type</th>
								<th>Gene Table</th>
					        </tr>
					    </thead>
					</table>
					
				</div>
            <div id="studyid_gene" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
					<div class="modal-content">
					  <div class="modal-header">
						<h5 class="modal-title" id="exampleModalLongTitle">Gene table of cluster</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						  <span aria-hidden="true">&times;</span>
						</button>
					  </div>
					  <div class="modal-body">
						  <div class="loader" id="loader_modal">
						  </div>
						  <div id="search_gene" style="min-width:400px;height:400px"></div>
					  </div>
					</div>
				</div>
			</div>
				<script>
				var showdata = {{ showdata|safe }};
					var Showdata_Exp= $('#showdata_exp').DataTable({
						select: true,
						bAutoWidth: false,
						'iDisplayLength':10,
						data: showdata,
						// order: [[ 4, "asc" ],[ 1, "desc"]],
						// dom: '<"top"<fB>>t<"bottom"<li>p><"clear">',
						// // lengthMenu: [
						// // [ 10, 25, 50 ],
						// // [ '10', '25', '50' ]
						// // ],
						// buttons: [{
						// 	extend: 'csv',
						// 	text: 'save'
						// 	}],
						"dom": "<'row'<'col-sm-12 col-md-1'B><'col-sm-12 col-md-8'i><'col-sm-12 col-md-3'f>>" +
							"<'row'<'col-sm-12'tr>>" +
							"<'row'<'col-sm-12 col-md-5'l><'col-sm-12 col-md-7'p>>",
						buttons: [{
							extend: 'csv',
							text: "",
							className: "icon_",
							}],
						columns: [
							{
								title: 'Project ID',
								data: 'studyid',
								className: 'studyId',
							},
							// // {
							// // 	title: 'Gene',
							// // 	data: 'gene',
							// // 	className: "genename",
							// // },
							// // {
							// // 	title: 'Gene',
							// // 	data: 'gene',
							// // 		"render": function(data, type, row, meta){
							// // 			if(type === 'display'){
							// // 				data = '<a href="./gene_detail/" + gene + "?gene=" + gene + "&studyid=" + studyid + "&cluster=" + cluster</a>';
							// // 				// <td><a href="/pertorg/detail/{{ data.studyid }}?res_type={{ res_type }}&md5={{ md5 }}">{{data.studyid}}</a></td>
							// // 			}
									
							// // 			return data;
							// // 		}
							// // },
							
							// { data: 'accession' },
							{ data: 'model' },
							{ data: 'cluster' },
							// {
							//                 data: 'time',
							//                 "render": function(data, type, row, meta) {
							//                     if (type === 'display') {
							//                         var times = data.split(';');
							//                         var truncatedTimes = times.slice(0, 5).join(';');
							//                         if (times.length > 5) {
							//                             truncatedTimes += '...';
							//                         }
							//                         return truncatedTimes;
							//                     }
							//                     return data;
							//                 }
							//             },		
							// { data: 'unit' },
							// { data: 'related_factor' },
							{ data: 'experiment_type' },
							{ data: 'tissue_cell_type' },
							{ data: 'organism' },
							{ data: 'strategy' },
							// {data: 'cluster',
							// 	 // defaultContent: "<button class='btn btn-info' style='background: url(/timecourse_app_static/img/boxplot2.svg);width: 2.5rem;height: 2.5rem;border: none;'></button>",
							// 	 defaultContent: '<button type="button" class="btn btn-primary btn-custom" data-toggle="modal" data-target="#studyid_gene" value="' +  data + '">open</button>',
							// },
							{
								data: 'cluster',
								"render": function(data, type, row, meta){
									if(type === 'display'){
										data = '<button type="button" class="btn btn-primary btn-custom" data-toggle="modal" data-target="#studyid_gene">open</button>'
									}
									return data;
								},
									
							},
						]
					});
					// $(document).ready( function () {
				
					// });
					$('#showdata_exp').on('click', 'tbody .studyId', function(){
						tr_data = Showdata_Exp.row($(this).parents('tr')).data();
						studyid = tr_data.studyid;
						window.location = './detail/'+studyid;
					});
					
					$('#showdata_exp').on('click', 'tbody button', function(){
					    var tr_data = Showdata_Exp.row($(this).parents('tr')).data();
						console.log(tr_data)
					    var optionData = new FormData();
					    optionData.append('studyid', tr_data.studyid);
					    optionData.append('cluster', tr_data.cluster);
						// console.log(333)
					    $.ajax({
					        type: 'POST',
					        url: '/GeTeSEPdb/gene_table',
					        headers: { "X-CSRFToken": '{{csrf_token}}' },
					        data: optionData,
					        processData: false,
					        contentType: false,
					        success: function(gene_data){
					            gene_data = JSON.parse(gene_data);
								// console.log(155)
								// console.log(gene_data)
					            // $('#loader_modal').hide();
					            $('#search_gene').show();
					            var tableHTML = '<table id="showdata_gene" class="display" style="width: 100%;">' +
					                            '<thead>' +
					                            '<tr>' +
					                            '<th>Time course ID</th>' +
					                            '<th>Gene</th>' +
					                            '<th>Cluster</th>' +
					                            '<th>Model</th>' +
					                            '<th>CV</th>' +
					                            '<th>Mean</th>' +
					                            '</tr>' +
					                            '</thead>' +
					                            '</table>';
					           
					            $('#loader_modal').html(tableHTML);
								console.log(999)
								var clustername=gene_data[0].cluster
								var showdata_gene=$('#showdata_gene').DataTable({
								    data: gene_data,
								    dom: "<'row'<'col-sm-12 col-md-1'B><'col-sm-12 col-md-8'i><'col-sm-12 col-md-3'f>>" +
								        "<'row'<'col-sm-12'tr>>" +
								        "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'p>>",
								    buttons: [{
								        extend: 'csv',
								        text: "",
								        className: "icon_",
								    }],
								    columns: [
								        // {
								        // 	title: 'Project ID',
								        // 	data: 'studyid',
								        // 	className: 'studyId',
								        // },
										{
											title: 'Project ID',
											data: 'studyid',
											className: 'studyId',
											"render": function(data, type, row, meta){
												if(type === 'display'){
													// data = '<button type="button" class="btn btn-primary btn-custom" data-toggle="modal" data-target="#studyid_gene" value="' + data + '">open</button>'
													data = '<a style="color:#138496" href="' + './detail/' + data + '" >' + data + ' </a>';
												}
												return data;
											},
												
										},
								        // { data: 'gene' },
										// {data: 'gene',
										// 	 // defaultContent: "<button class='btn btn-info' style='background: url(/timecourse_app_static/img/boxplot2.svg);width: 2.5rem;height: 2.5rem;border: none;'></button>",
										// 	 "render": function(data, type, row, meta){
										// 		if(type === 'display'){
										// 			data = '<a href="' + './gene_detail/' + data + '" >' + data + '</a>';
										// 		}
											
										// 		return data;
										// 	}
										// },
										{
											title: 'Gene',
											data: 'gene',
											className: "genename",
										},
								        { data: 'cluster' },
								        { data: 'model' },
								        { data: 'cv' },
								        { data: 'mean' },
								    ]
								});
								// var clustername = showdata_gene.row($(this).parents('tr')).data();
								if(clustername==="cluster0"){
									showdata_gene.column(4).visible(true)
									showdata_gene.column(5).visible(true)
								}else{
									showdata_gene.column(4).visible(false)
									showdata_gene.column(5).visible(false)
								}
								
								{#$('#showdata_exp').on('click', 'tbody .studyId', function(){#}
								{#	tr_data = Showdata_Exp.row($(this).parents('tr')).data();#}
								{#	studyid = tr_data.studyid;#}
								{#	window.location = './detail/'+studyid;#}
								{#});#}
								
								$('#showdata_gene').on('click', 'tbody .genename', function(){
									var tr_data = showdata_gene.row($(this).parents('tr')).data();
									var studyid = tr_data.studyid;
									var cluster = tr_data.cluster;
									var gene = tr_data.gene;
									// var optionData = new FormData();#}
									// optionData.append('studyid', tr_data.studyid);#}
									// optionData.append('cluster', tr_data.cluster);#}
									// optionData.append('gene', tr_data.gene);#}
									// console.log(optionData);#}
									window.location = "./gene_detail/" + gene + "?gene=" + gene + "&studyid=" + studyid + "&cluster=" + cluster;
								})
					            
					            // 初始化 DataTables
					            // $(document).ready(function() {
				
					            // });
					        },
					        error: function(study_single_result){
					            {#alert('Something went wrong');#}
					            console.log(study_single_result);
					        }
							
					    });
						$('#exampleModalLongTitle').text('Gene table of cluster');
						// $('#studyid_gene').modal('show');
					    
					    $('#search_model').hide();
					    $('#loader_modal').show();
						
						
					});
				</script>
		</div>
	</div>

		<br/>
		<br/>
		<br/>
		<script>
		$(document).ready(function(){

			// $("#button_pattern").hide();
			$("#button_table").click(function() {
                console.log('点击了第一个btn');
				// $("#strategy").val("O");
				$(this).attr("style", "width: 100%;");
				$("#button_pattern").attr("style", "width: 100%;background: #99c3c7;border: #99c3c7;height: 40.25px;");
				$("#browsebypattern").hide()
				$("#browsebydatatable").show()
                window.location.href = 'browse?browserType=browser_dataset';
			})

			$("#button_pattern").click(function() {
                console.log('点击了第二个btn')
				// $("#strategy").val("C");
				$(this).attr("style", "width: 100%;");
				$("#button_table").attr("style", "width: 100%;background: #99c3c7;border: #99c3c7;height: 40.25px;");
				$("#browsebydatatable").hide();
				$("#browsebypattern").show();
                window.location.href = 'browse?browserType=browser_parttern';
			});

            var url = decodeURIComponent(window.location.href);
            let urlMap = new Map();
            if (url.split('?').length > 1) {
                let queryStr = url.split('?')[1];
                let browserTypeStr = queryStr.split('&').find(f => f.startsWith('browserType'))
                let selectStr = queryStr.split('&').find(f => f.startsWith('select'))
                if (selectStr !== undefined) {
                    selectStr.split('=')[1].split(',').forEach(function(d) {
                        let q = d.split(':')[1].slice(1, d.split(':')[1].length - 1);
                        let k = d.split(':')[0] + '@' + q;
                        urlMap.set(k, q);
                    });
                }

                console.log('browserType:' + browserTypeStr)

                if (browserTypeStr !== undefined) {

                   if (browserTypeStr.split('=')[1] === 'browser_parttern') {
                       $("#button_pattern").attr("style", "width: 100%;");
                       $("#button_table").attr("style", "width: 100%;background: #99c3c7;border: #99c3c7;height: 40.25px;");
                       $("#browsebydatatable").hide();
                       $("#browsebypattern").show();
                   } else {
                       $("#button_table").attr("style", "width: 100%;");
                       $("#button_pattern").attr("style", "width: 100%;background: #99c3c7;border: #99c3c7;height: 40.25px;");
                       $("#browsebydatatable").show();
				        $("#browsebypattern").hide();
                   }

                } else {
                    $("#button_table").attr("style", "width: 100%;");
                    $("#button_pattern").attr("style", "width: 100%;background: #99c3c7;border: #99c3c7;height: 40.25px;");
                    $("#browsebydatatable").show();
				    $("#browsebypattern").hide();
                }



                $('.browser-db-column').each(function() {
                    let mapKey = $(this).data().type + '@' + $(this).data().name;
                    if (urlMap.has(mapKey)) {
                        $(this).attr('class', 'browser-db-column list-group-item browser-active')
                    }
                });


            }


			function keyboard_select_data(doc){
				if (window.event.keyCode == 13) {
					select_data(doc)
				}
			}

		});
		
		</script>
		<!-- 底部 -->
		{% include 'public_templates/footer.html' %}
	</body>
</html>