<!DOCTYPE html>
<html>
	<head>
		<title>STATISTICS</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% include 'public_templates/bootstrap.html' %}
		<script src="/timecourse_app_static/cdn/js/plotly-2.8.3.min.js"></script>
		<script type="text/javascript">
			// 加载提示框
			$(document).ready(function() {
				$("#nav_statistic").addClass("active");
				$("#static_nav_his").addClass("active");
				$("#page_title").text('STATISTICS');
			});
			// browse加href属性
		</script>
		<style type="text/css">
			table tbody{
				font-size: 20px;
			}
		</style>
	</head>
	<body>
		<!-- 导航栏 -->
		{% include 'public_templates/nav_tem.html' %}
		{% include 'public_templates/page_title.html' %}
		<!-- 主体内容 -->
		<div class="container-fluid col-8" >
			<!-- 总体数据的检验结果，总体分布是否满足正态性 -->
			<!-- 选项卡导航 -->
			<!-- <h4 style="margin: 1rem 0 1rem 0;text-align: center;"></h4> -->
			<hr />
			<div class='row'>
			  <div class='container col-xl-12 col-lg-12 col-md-12'>
			    <h5>Number of the time-series transcriptomic datasets in each model organism</h5>
			    <div class="container col-12" style="padding: 0;">
			      <div id="barplot_organism_strategy" style="width: 100%;height:400px;"></div>
			    </div>
			  </div>
			</div>
			
			<div class='row'>
			  <div class='container col-xl-6 col-lg-6 col-md-12'>
			    <h5>Proportion of the data type for all datasets</h5>
			    <div class="container col-12" style="padding: 0;">
			      <div id="pie_data_type" style="width: 100%;height:400px;"></div>
			    </div>
			  </div>
			  <div class='container col-xl-6 col-lg-6 col-md-12'>
			    <h5>Statistics of the model type for all datasets</h5>
			    <div class="container col-12" style="padding: 0;">
			      <!-- <div id="pie_model_type" style="width: 100%;height:400px;"></div> -->
					<tbody>
						<tr>
							<td id="statistic_td">
								<table id="statistic" style="width: 100%; background-color: white; repeat fixed center;" class="table table-bordered">
									<thead></thead>
									<tbody>
										<tr style="border-bottom: #ababab nor;">
										    <td><h6>Model</h6></td>
											<td><h6>#of datasets </h6></td>
											<td><h6>#of genes</h6></td>
										</tr>
										<tr>
										    <td>Constant</td>
										    <td>2684</td>
											<td>762093</td>
										</tr>
										<tr>
										    <td>Trigonometric</td>
										    <td>932</td>
											<td>282551</td>
										</tr>
										<tr>
										    <td>Logistic</td>
										    <td>1027</td>
											<td>349322</td>
										</tr>
										<tr>
										    <td>Quadratic</td>
										    <td>1458</td>
											<td>561582</td>
										</tr>
										<tr>
										    <td>Logarithmic</td>
										    <td>911</td>
											<td>268530</td>
										</tr>
										<tr>
										    <td>Linear</td>
										    <td>1337</td>
											<td>417949</td>
										</tr>
										<tr>
										    <td>Exponential</td>
										    <td>17</td>
											<td>1003</td>
										</tr>
										<tr>
										    <td>Power</td>
										    <td>15</td>
											<td>1340</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</div>
			  </div>
			</div>
			
			<div class='row'>
			  <div class='container col-xl-12 col-lg-12 col-md-12'>
			    <h5>Histogram showing the distribution of gene profiles with temporal-specific expression across all time series datasets</h5>
			    <div class="container col-12" style="padding: 0;">
			      <div id="histogram" style="width: 100%;height:400px;"></div>
			    </div>
			  </div>
			</div>
			<!-- <br /> -->
			<!-- <div class='row'>
				<div class='container col-xl-12 col-lg-12 col-md-12'>
					<h5>Histogram of number of time point for all Time series datasets</h5>
					<div class="container col-12" style="padding: 0;">
						<div id="time_cnt" style="width: 100%;height:400px;"></div>
					</div>
				</div>
			</div> -->
			<!-- 结果表格 -->
			<!-- <h1 style="margin: 1rem 0 1rem 0;text-align: center;">Data Histogram</h1> -->
			<!-- <table id="one_class_table" class="table table-bordered" style="margin-top: 10px;text-align: center;"> -->
<!-- 				<thead class="thead-light">
					<tr>
						<th scope="col" rowspan="2" style="vertical-align: middle;">Feature Name</th>
						<th scope="col" colspan="2">Population Normality Test</th>
						<th scope="col" rowspan="2" style="vertical-align: middle;">Unit</th>
						<th scope="col" rowspan="2" style="vertical-align: middle;">Data Num</th>
						<th scope="col" rowspan="2" style="vertical-align: middle;">Histogram</th>
					</tr>
					<tr>
						<th scope="col">statistic</th>
						<th scope="col">p-value</th>
					</tr>
				</thead> -->
				<!-- <tbody> -->
					<!-- 1：key absorption，value为单位；2：unit为单位，value为单位对应的统计值 -->
					<!-- 如果长度为1，一行，如果长度不唯一，根据长度合并行 -->
<!-- 					{% for key,test_res in test_res_dataset.items %}
						{% for unit,test_res_unit in test_res.items %}
							{% if test_res.length == 1%}
								{% if not forloop.last %}
								<tr>
									<td style="vertical-align: middle;">{{key}}</td>
									<td style="vertical-align: middle;">{{test_res_unit.total_normstatistic}}</td>
									<td style="vertical-align: middle;">{{test_res_unit.total_normpvalue}}</td>
									<td style="vertical-align: middle;">{{unit}}</td>
									<td style="vertical-align: middle;">{{test_res_unit.fea_counts}}</td>
									<td id="{{key}}_histogram" style="width: 400px;height: 200px;margin: 0;padding: 0;"><img src="{{test_res_unit.hist_filename}}" /></td>
								</tr>
								{% endif %}
							{% else %}
								{% if forloop.first %}
								<tr>
									<td style="vertical-align: middle;" rowspan="{{ test_res.length }}">{{key}}</td>
									<td style="vertical-align: middle;">{{test_res_unit.total_normstatistic}}</td>
									<td style="vertical-align: middle;">{{test_res_unit.total_normpvalue}}</td>
									<td style="vertical-align: middle;">{{unit}}</td>
									<td style="vertical-align: middle;">{{test_res_unit.fea_counts}}</td>
									<td id="{{key}}_histogram" style="width: 400px;height: 200px;margin: 0;padding: 0;"><img src="{{test_res_unit.hist_filename}}" /></td>
								</tr>
								{% elif not forloop.last %}
								<tr>
									<td style="vertical-align: middle;">{{test_res_unit.total_normstatistic}}</td>
									<td style="vertical-align: middle;">{{test_res_unit.total_normpvalue}}</td>
									<td style="vertical-align: middle;">{{unit}}</td>
									<td style="vertical-align: middle;">{{test_res_unit.fea_counts}}</td>
									<td id="{{key}}_histogram" style="width: 400px;height: 200px;margin: 0;padding: 0;"><img src="{{test_res_unit.hist_filename}}" /></td>
								</tr>
								{% endif %}
							{% endif %}

						{% endfor %}

					{% endfor %} -->
				<!-- </tbody> -->
			<!-- </table> -->
			<!-- <div id='adv' style="width: 100%;height: 500px;"></div> -->
		</div>
	</div>
		<br />
		<br />
		<br />

		<!-- 底部 -->
		{% include 'public_templates/footer.html' %}
		<script>
			// var trace1 = {
			//   x: ['giraffes', 'orangutans', 'monkeys'],
			//   y: [20, 14, 23],
			//   name: 'SF Zoo',
			//   type: 'bar'
			// };

			// var trace2 = {
			//   x: ['giraffes', 'orangutans', 'monkeys'],
			//   y: [12, 18, 29],
			//   name: 'LA Zoo',
			//   type: 'bar'
			// };

			// var data = [trace1, trace2];
			var data = {{ barplot_organism_strategy |safe }}

			var layout = {
				barmode: 'stack',
				// automargin: true,
				margin: {
					l:80,
					r:100,
					t:10,
					b:110
				},
				  legend: {
					x: 1,
					xanchor: 'right',
					y: 0.9
				  },
				  yaxis: {
					  title: '# of datasets',
					  position: 0
				  }
			}
			Plotly.newPlot('barplot_organism_strategy', data, layout);
		</script>
		<script>
			var data = {{pie_data_type |safe}}

			var layout = {
			  title: '',
			  annotations: [
			    {
			      font: {
			        size: 20
			      },
			      showarrow: false,
			      text: {{total_study_cnt}},
			      x: 0.5,
			      y: 0.5
			    }
			  ],
			  height: 400,
			  // width: 600,
			  showlegend: true,
			  grid: {rows: 1, columns: 1},
			  legend:{
				  orientation: 'h',
				  xanchor: 'middle',
				  yanchor: 'right',
				  valign: 'middle',
				  x: 0.1,
				  y: 1.3
			  }
			};

			Plotly.newPlot('pie_data_type', data, layout);
		</script>
{#		<script>#}
{#			var data = {{pie_model_type |safe}}#}
{#			var layout = {#}
{#			  height: 400,#}
{#			  // width: 600,#}
{#			  margin: {"t": 80, "b": 80, "l": 80, "r": 80},#}
{#			  showlegend: false,#}
{#			  grid: {rows: 1, columns: 1}#}
{#			  }#}
{##}
{#			Plotly.newPlot('pie_model_type', data, layout)#}
{#		</script>#}
		
		<script>
		{#//     var histogram_gene = {{ histogram_gene | safe }};#}
		
		//     var data = [{
		//         x: [], // 存储对应的总基因数目
		//         y: [], // 存储对应的总基因数目
		//         name: 'Total',
		//         type: 'bar'
		//     }];
		
		//     // 遍历 histogram_gene 数据
		//     histogram_gene.forEach(function(bar_data) {
		//         var studyid = bar_data.x[0];
		//         var count = bar_data.y[0];
		
		//         data[0].x.push(studyid);
		//         data[0].y.push(count);
		//     });
		
		//     var layout = {
		//         xaxis: {
		//             title: 'Studyid',
		//             tickmode: 'array',
		//             tickvals: [''], // 使用空数组作为 tickvals，不显示 x 轴标签
		//             showticklabels: false // 不显示 x 轴刻度标签
		//         },
		//         yaxis: {
		//             title: 'Total Gene Count'
		//         }
		//     };
		
		//     Plotly.newPlot('histogram', data, layout);
            {#var data = {{ gene_count_freq | safe }};#}
            {#console.log(123);#}
            {#console.log(data);#}
            {##}
            {#// 计算 x 轴的范围和间隔#}
            {#var maxVal = Math.max(...data);#}
            {#var minVal = Math.min(...data);#}
            {#var range = maxVal - minVal;#}
            {#var binSize = Math.ceil(range / Math.sqrt(data.length)); // 使用 Freedman-Diaconis 规则计算直方图的箱子大小#}
            {##}
            {#var bins = [];#}
            {#for (var i = minVal; i <= maxVal; i += binSize) {#}
            {#    bins.push(i);#}
            {#}#}
            {##}
            {#// 使用 Plotly 的 histogram 函数绘制直方图#}
            {#var data_trace = [{#}
            {#    x: data,#}
            {#    type: 'histogram',#}
            {#    xbins: { // 使用自动计算的 bins#}
            {#        start: minVal,#}
            {#        end: maxVal,#}
            {#        size: binSize#}
            {#    }#}
            {#}];#}
            {##}
            {#var layout = {#}
            {#    xaxis: {#}
            {#        title: '# of gene counts',#}
            {#    },#}
            {#    yaxis: {#}
            {#        title: '# of datasets',#}
            {#        position: 0#}
            {#    }#}
            {#};#}
            {##}
            {#Plotly.newPlot('histogram', {#}
            {#    data: data_trace,#}
            {#    layout: layout#}
            {#});#}


			var data = {{ gene_count_freq | safe }}
			console.log(123);
			console.log(data);
            var xlabels = [];
            for (var i = 0; i < 3001; i += 50) {
                xlabels.push(i);
            }
			var data_trace = [
				{
                    x: xlabels,
					// {#x: ['0~100', '101~200', '201~300', '301~400', '401~500', '501~800', '801~1000', '1001~1500', '1501~2000', '2001~3000', '3001~4000', '4001~'],#}
					y: data,
					type: 'bar',
                    bargap: 0
				}
			];
			var layout = {
			bargap:0,
			xaxis: {
					title: '# of gene profiles with temporal-specific expression',
					// tickmode: 'array',
					// tickvals: [''], // 使用空数组作为 tickvals，不显示 x 轴标签
					// showticklabels: false // 不显示 x 轴刻度标签
					},
			  yaxis: {
				title: '# of datasets',
				position: 0
			  }};

			Plotly.newPlot('histogram', {
				data:data_trace,
				layout: layout
			});
			
		</script>
		<!-- <script>
			trace = {
			  type: 'histogram',
{#			  x: {{time_cnt |safe}},#}
			  xaxis: 'x1',
			  yaxis: 'y1',
			  name: 'Number of time points',
			  nbinsx: 20
			};
			
			
			data = [trace];
			layout = {
			  xaxis1: {
			    anchor: 'y1',
			    domain: [0.0, 0.3],
				title: '# of time points',
				position: 0
			  },
			  
			  yaxis1: {
			    anchor: 'x1',
			    // domain: [0.7333333333333333, 1.0]
				title: '# of Datasets',
				position: 0
			  },
			  
			  legend:{
				  orientation: 'h',
				  xanchor: 'middle',
				  yanchor: 'right',
				  valign: 'middle',
				  x: 0.2,
				  y: 1.3
			  },
				bargap: 0.05
			};
			Plotly.newPlot('time_cnt', {
			  data: data,
			  layout: layout
			});
		</script> -->
	</body>
</html>